<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Success</title>
</head>
<body>
    <h1>File Embedded Successfully!</h1>
    <p><a href="<%= fileUrl %>" download>Download Embedded File</a></p>
    <a href="/">Go Back to Home</a>
</body>
</html>
